// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
Page {
    font-family: "Quicksand", "Quicksand-Regular", "Quicksand-Bold";
    background-color: black;
    color: #eee;
}

ActionBar {
    background-color: #53ba82;
    color: #ffffff;
}

.card {
    border-radius: 14;
    background-color: white;
    color: black;
    padding: 5 10;
}